[package]
name = "ouch"
version = "0.3.1"
authors = ["Vinícius Rodrigues Miguel <vrmiguel99@gmail.com>", "João M. Bezerra <marcospb19@hotmail.com>"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/ouch-org/ouch"
license = "MIT"
keywords = ["decompression", "compression", "zip", "tar", "gzip", "accessibility", "a11y"]
categories = ["command-line-utilities", "compression", "encoding"]
description = "A command-line utility for easily compressing and decompressing files and directories."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
atty = "0.2.14"
bzip2 = "0.4.3"
clap = { version = "3.0.4", features = ["derive", "env"] }
flate2 = { version = "1.0.22", default-features = false }
fs-err = "2.6.0"
libc = "0.2.103"
linked-hash-map = "0.5.4"
lzzzz = "0.8.0"
once_cell = "1.8.0"
snap = "1.0.5"
tar = "0.4.37"
walkdir = "2.3.2"
xz2 = "0.1.6"
zip = { version = "0.5.13", default-features = false }
zstd = { version = "0.9.0", default-features = false }
tempfile = "3.2.0"
indicatif = "0.16.2"

[build-dependencies]
clap = { version = "3.0.4", features = ["derive", "env"] }
clap_complete = "3.0.2"

[dev-dependencies]
assert_cmd = "2.0.2"
infer = "0.5.0"
parse-display = "0.5.3"
proptest = "1.0.0"
rand = { version = "0.8.3", default-features = false, features = ["small_rng", "std"] }
test-strategy = "0.1.2"

[features]
default = ["flate2/zlib", "zip/deflate-zlib", "zstd/thin"]

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
